<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools"
          package="com.corona.app"
          android:installLocation="auto">

    

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	

    <uses-feature android:glEsVersion="0x00020000" />
	<uses-feature android:name="android.hardware.telephony" android:required="false" />
	<uses-feature android:name="android.hardware.location" android:required="false" />
	<uses-feature android:name="android.hardware.location.gps" android:required="false" />
	<uses-feature android:name="android.hardware.location.network" android:required="false" />
	<uses-feature android:name="android.hardware.screen.portrait" android:required="true" />
	<uses-feature android:name="android.hardware.screen.landscape" android:required="false" />
	

    

    <!-- Add android:name="CoronaApplication" to reactivate Application Delegate in Native Builds-->
    <application android:icon="@mipmap/ic_launcher"
                 android:banner="@drawable/banner"
                 android:label="@string/app_name"
                 
                 
                 android:networkSecurityConfig="@xml/network_security_config"
                 tools:replace="android:icon"
                 >

        <meta-data android:name="targetedAppStore" android:value="none" />

        

        

        

        <!-- The main Corona activity that runs the Corona project. -->
        <activity android:name="com.ansca.corona.CoronaActivity"
                  android:screenOrientation="portrait"
                  android:label="@string/app_name"
                  android:resizeableActivity="false"

                  android:configChanges="keyboard|keyboardHidden|navigation|screenSize|orientation"
                  android:launchMode="singleTask"
                  android:exported="true"
                  android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            
            
            <meta-data android:name="requestedDefaultOrientation" android:value="portrait" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            
        </activity>

        

    </application>

    

</manifest>
