<?xml version="1.0" encoding="UTF-8"?>

<!--
	Copyright (c) 2015 Corona Labs Inc. All rights reserved.
	Summary:   Defines the main Corona installation program settings.
-->
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" 
  xmlns:util="http://schemas.microsoft.com/wix/UtilExtension"
  xmlns:fire="http://schemas.microsoft.com/wix/FirewallExtension">
		<Product Id="*" Name="Corona" Manufacturer="Corona Labs Inc." UpgradeCode="bb44bfeb-9c3b-47fa-9d99-f4316eed9091" Language="1033" Version="1.0.0">
		<!-- Macro for Registry Key. Note, it uses Corona SDK, not Corona to support legacy settings -->
		<?define RegistryRootKey = "Software\Corona Labs\Corona SDK\Install"?>
		<!-- Set up the MSI file package and its system requirements. -->
		<Package Description="Corona for Windows" InstallerVersion="200" Compressed="yes" InstallScope="perMachine"/>
		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed."/>
		<MediaTemplate EmbedCab="yes"/>

		<!-- Set up the installer to use a custom UI defined in the "UI.wxs" file. -->
		<UIRef Id="WixUI_Custom"/>
		
		<!-- Set up the UI to use our banner and background images. These must be 24-bit bitmap files. -->
		<WixVariable Id="WixUIBannerBmp" Value="Banner.bmp"/>
		<WixVariable Id="WixUIDialogBmp" Value="DialogBackground.bmp"/>
		
		<!-- Set up the license agreement. -->
		<WixVariable Id="WixUILicenseRtf" Value="..\Bin\Corona\Corona_License.rtf"/>
		
		<!-- Define the property that will receive the user selectable installation path. -->
		<!-- Note: The "Value" attribute must be in all caps or else it will not receive the changed installation path. -->
		<Property Id="APP_INSTALL_FOLDER">
			<RegistrySearch Id="RegistrySearchInstallPath" Type="raw" Root="HKLM" Key="$(var.RegistryRootKey)" Name="Path"/>
		</Property>
		<Property Id="WIXUI_INSTALLDIR" Value="APP_INSTALL_FOLDER" />

		<!-- This displays a "Launch the [Application]" checkbox at the end of the install. -->
		<Property Id="WixShellExecTarget" Value="[APP_INSTALL_FOLDER]Corona Simulator.exe" />
		<Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOX" Value="1"/>
		<Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOXTEXT" Value="Launch the Corona Simulator"/>
		<CustomAction Id="LaunchApplication" BinaryKey="WixCA" DllEntry="WixShellExec" Impersonate="yes"/>

		<!-- Broadcast a WM_SETTINGCHANGE message at the end of the install. -->
		<!-- Makes the added/removed "CORONA_PATH" environment variable take immediate effect without a reboot. -->
		<CustomActionRef Id="WixBroadcastEnvironmentChange"/>

		<!-- Set the icon and other info to be shown in Windows' "Uninstall or change a program" window. -->
		<Icon Id="CoronaSimulatorIcon" SourceFile="..\Corona.Simulator\res\Simulator.ico"/>
		<Property Id="ARPPRODUCTICON" Value="CoronaSimulatorIcon"/>
		<Property Id="ARPHELPLINK" Value="https://coronalabs.com"/>
		
		<!-- Define all of the features/components supported by the install program. -->
		<!-- The Corona install program only supports 1 component. So, do not show the component selection page. -->
		<Feature Id="ProductFeature" Title="Corona"  AllowAdvertise="no" Display="hidden" Level="1">
			<ComponentGroupRef Id="MainComponents"/>
		</Feature>
		
		<!-- Set up everything that will be installed by the "MainComponents" feature. (The only feature available.) -->
		<ComponentGroup Id="MainComponents">
			<!-- Installs all files in this solution's "platform\windows\Bin\Corona" directory. -->
			<!-- This file listing is generated by this WiX project's pre-build step. -->
			<ComponentGroupRef Id="ApplicationFiles"/>

			<!-- Installs a PDB file for Corona Simulator.exe in "platform\windows\Bin\Corona" directory. -->
			<ComponentGroupRef Id="PDBFile"/>

			<!-- Installs all sample projects under the "docs\SampleCode" repository. -->
			<!-- This file listing is generated by this WiX project's pre-build step. -->
			<ComponentGroupRef Id="SampleProjectFiles"/>
			
			<!-- Installs the Windows start menu shortcuts. -->
			<!-- Note: The installer requires a registry entry to be made to track the installation of these shortcuts. -->
			<!--       Shortcut installation tracking is enabled via the 'RegistryValue" element's "KeyPath" attribute. -->
			<Component Id="ApplicationProgramMenuShortcuts" Directory="ApplicationProgramMenuFolder" Guid="*">
				<CreateFolder Directory="ApplicationProgramMenuFolder"/>
				<RemoveFolder Id="RemoveApplicationProgramMenuFolder" Directory="ApplicationProgramMenuFolder" On="uninstall"/>
				<Shortcut Id="CoronaSimulatorProgramMenuShortcut" Name="Corona Simulator" Description="Simulates Corona projects on the Windows desktop." Target="[APP_INSTALL_FOLDER]Corona Simulator.exe" WorkingDirectory="APP_INSTALL_FOLDER"/>
				<Shortcut Id="CoronaLiveServerProgramMenuShortcut" Name="Corona Live Server" Description="Allows for Live Builds to perform automatic syncinc of project changes to test devices." Target="[APP_INSTALL_FOLDER]Corona.LiveServer.exe" WorkingDirectory="APP_INSTALL_FOLDER"/>
				<Shortcut Id="CoronaDebuggerProgramMenuShortcut" Name="Corona Debugger" Description="Debugs a Corona project via the Corona Simulator." Target="[APP_INSTALL_FOLDER]Corona.Debugger.exe" WorkingDirectory="APP_INSTALL_FOLDER"/>
				<Shortcut Id="CoronaConsoleProgramMenuShortcut" Name="Corona Console" Description="Runs a Corona made app and monitors its output." Target="[APP_INSTALL_FOLDER]Corona.Console.exe" WorkingDirectory="APP_INSTALL_FOLDER"/>
				<Shortcut Id="CoronaSampleCodeProgramMenuShortcut" Name="Corona Sample Code" Target="[SampleProjectsInstallFolder]" WorkingDirectory="SampleProjectsInstallFolder"/>
				<Shortcut Id="CoronaNativeCodeProgramMenuShortcut" Name="Corona Native" Target="[NativeInstallFolder]" WorkingDirectory="NativeInstallFolder"/>
				<util:InternetShortcut Id="CoronaOnlineDocumentationShortcut" Name="Corona Online Documentation" Target="https://docs.coronalabs.com/guide"/>
				<RegistryValue Root="HKCU" Key="$(var.RegistryRootKey)" Name="MenuShortcutsInstalled" Type="integer" Value="1" KeyPath="yes"/>
			</Component>
			
			<!-- Installs Windows desktop shortcuts. -->
			<!-- Note: The installer requires a registry entry to be made to track the installation of these shortcuts. -->
			<!--       Shortcut installation tracking is enabled via the 'RegistryValue" element's "KeyPath" attribute. -->
			<Component Id="ApplicationDesktopShortcuts" Directory="DesktopFolder" Guid="*">
				<Shortcut Id="CoronaSimulatorDesktopShortcut" Name="Corona Simulator" Description="Simulates Corona projects on the Windows desktop." Target="[APP_INSTALL_FOLDER]Corona Simulator.exe" WorkingDirectory="APP_INSTALL_FOLDER"/>
				<RegistryValue Root="HKCU" Key="$(var.RegistryRootKey)" Name="DesktopShortcutsInstalled" Type="integer" Value="1" KeyPath="yes"/>
			</Component>
			
			<!-- Writes the Corona installation path and version to the registry. -->
			<Component Id="InstallRegistryEntries" Directory="TARGETDIR" Guid="*">
				<RegistryKey Root="HKLM" Key="$(var.RegistryRootKey)">
					<RegistryValue Name="Version" Type="string" Value="[ProductVersion]" KeyPath="yes"/>
					<RegistryValue Name="Path" Type="string" Value="[APP_INSTALL_FOLDER]"/>
				</RegistryKey>
			</Component>

			<!-- Creates a CORONA_SDK_PATH (legacy) and CORONA_PATH environment variable providing the installation path. -->
			<Component Id="EnvironmentVariables" Directory="TARGETDIR" Guid="*">
        <Environment Id="CoronaSdkPathEnvironmentVariableLegacy" Name="CORONA_SDK_PATH" Value="[APP_INSTALL_FOLDER]" System="yes" Action="set" Part="all" Permanent="no"/>
        <Environment Id="CoronaSdkPathEnvironmentVariable" Name="CORONA_PATH" Value="[APP_INSTALL_FOLDER]" System="yes" Action="set" Part="all" Permanent="no"/>
        <Environment Id="CoronaRootPathEnvironmentVariable" Name="CORONA_ROOT" Value="[APP_INSTALL_FOLDER]Native" System="yes" Action="set" Part="all" Permanent="no"/>
				<RegistryValue Root="HKCU" Key="$(var.RegistryRootKey)" Name="EnvironmentVariablesInstalled" Type="integer" Value="1" KeyPath="yes"/>
			</Component>
      
			<!-- Adds to the firewall exception list. (Does not support automatic GUID generation for some reason.) -->
			<Component Id="FirewallExceptions" Directory="TARGETDIR" Guid="899d0c8b-870c-43b7-acc1-85a0f065580f">
				<fire:FirewallException Id="LiveServerException" Program="[APP_INSTALL_FOLDER]Corona.LiveServer.exe" Name="Corona Live Server" Scope="any" IgnoreFailure="yes"/>
				<fire:FirewallException Id="CoronaDebuggerException" Program="[APP_INSTALL_FOLDER]Corona.Debugger.exe" Name="Corona Debugger" Scope="any" IgnoreFailure="yes"/>
			</Component>
		</ComponentGroup>
		
		<!-- Set up the installation directories for application files and shortcuts. -->
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="CoronaLabsInstallFolder" Name="Corona Labs">
					<Directory Id="APP_INSTALL_FOLDER" Name="Corona">
						<Directory Id="SampleProjectsInstallFolder" Name="Sample Code"/>
						<Directory Id="NativeInstallFolder" Name="Native"/>
					</Directory>
				</Directory>
			</Directory>
			<Directory Id="ProgramMenuFolder">
				<Directory Id="ApplicationProgramMenuFolder" Name="Corona"/>
			</Directory>
			<Directory Id="DesktopFolder" Name="Desktop"/>
		</Directory>

		<!-- Stop running programs when installing/uninstalling -->
		<util:CloseApplication Target="Corona.LiveServer.exe" TerminateProcess="3" RebootPrompt="no" />
		<util:CloseApplication Target="Corona Simulator.exe" TerminateProcess="3" RebootPrompt="no" />
		<util:CloseApplication Target="Corona.Debugger.exe" TerminateProcess="3" RebootPrompt="no" />
		<util:CloseApplication Target="Corona.Console.exe" TerminateProcess="3" RebootPrompt="no" />
		<SetProperty Id="ARPINSTALLLOCATION" Value="[APP_INSTALL_FOLDER]" After="CostFinalize" />
	</Product>
</Wix>
