*.xcuserdatad/
/Corona*/

# Hidden files used by the Finder in MacOS
.DS_Store
.Trashes
.com.apple.timemachine.supported
.fseventsd/*
.TemporaryItems/*
Desktop DB
Desktop DF

/docs/
/Corona-*.dmg
/CoronaSDK-dsym-*.zip
/docs.zip

# Eclipse
.metadata/*

.vscode
.idea
IDEWorkspaceChecks.plist

# Build results
[Dd]ebug/
[Rr]elease/

# Files built by Visual Studio
*_i.c
*_p.c
*_h.h
*.ilk
*.meta
*.obj
*.iobj
*.pch
*.pdb
*.ipdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*_wpftmp.csproj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc

# Visual Studio 2015/2017 cache/options directory
.vs/
# Uncomment if you have tasks that create the project's static files in wwwroot
#wwwroot/

# Backup & report files from converting an old project file
# to a newer Visual Studio version. Backup files are not needed,
# because we have git ;-)
_UpgradeReport_Files/
Backup*/
UpgradeLog*.XML
UpgradeLog*.htm
ServiceFabricBackup/
*.rptproj.bak

# Build files
**/build/**
*.pbxuser
*.perspective*
*.mode1
*.mode1v3
*.orig
*.class
*.apk
*.ap_
*.obj
*.bak
*.dex
*.so
*.ncb
*.opensdf
*.sdf
*.suo
*.idb
*.ipch
*.pdb
*.ilk
*.lu
*._*
contents.xcworkspacedata
*.xccheckout
*.xcbkptlist
*.rej
2100.9999_template_*_basic.tar.bz
*.log
tools/CoronaBuilder/_CoronaSetup_*.lua

# Enterprise
enterprise/CoronaTemplateApp/Libraries/*
enterprise/*.zip
tools/enterprise/CoronaEnterprise/*

# Plugins
plugins/ads/win32/*ads.c
plugins/**/android/bin/*
plugins/**/android/gen/*
plugins/**/android/libs/*
plugins/analytics/win32/*analytics.c

platform/switch/

# Windows
# autogenerated from Lua
platform/win32/simulator/Setup/Intermediate/*
platform/win32/CoronaLibrary_lua.cpp
platform/win32/CoronaPrototype.cpp
platform/win32/CoronaProvider.cpp
platform/win32/config_require.cpp
platform/win32/create_build_properties.cpp
platform/win32/easing.cpp
platform/win32/init.cpp
platform/win32/json.cpp
platform/win32/dkjson.cpp
platform/win32/launchpad.cpp
platform/win32/re.cpp
platform/win32/runtime.cpp
platform/win32/shell.cpp
platform/win32/storyboard.cpp
platform/win32/timer.cpp
platform/win32/transition.cpp
platform/win32/widget.cpp
platform/win32/widget_button.cpp
platform/win32/widget_picker.cpp
platform/win32/widget_scrollview.cpp
platform/win32/widget_slider.cpp
platform/win32/widget_tabbar.cpp
platform/win32/widget_tableview.cpp
platform/win32/widget_*.cpp
platform/win32/remdebug_engine.cpp
platform/win32/remdebug_engine.lua
platform/win32/simulatorAnalytics.cpp
platform/win32/transition_v1.cpp
platform/win32/composer.cpp
platform/win32/composer_scene.cpp
platform/win32/webPackageApp.cpp
platform/windows/Bin/*
platform/windows/**/Bin/*
platform/windows/**/Generated Files/*
platform/windows/**/PerfLogs/*
platform/windows/**/obj/*
platform/windows/**/Debug.App/*
platform/windows/**/Debug.Simulator/*
platform/windows/**/Release.App/*
platform/windows/**/Release.Simulator/*
platform/windows/**/Debug/
platform/windows/**/PreRelease/
platform/windows/**/Release/

# Android
*/libs/armeabi/*
*/gdb.setup
platform/android/bin
platform/android/project/corona/obj/*
platform/android/ndk/generated/*
platform/android/ndk/obj/*
platform/android/ndk/libs/*
platform/android/sdk/assets/*
platform/android/sdk/bin/*
platform/android/sdk/gen/*
platform/android/sdk/libs/*
platform/android/sdk/res/raw/corona_3rd_party_licenses.txt
platform/android/sdk/res/raw/corona_asset_*
platform/android/template/coreJars
platform/android/template/external-libs-paths
platform/android/template/externals
platform/android/template/res
external/facebook-android-sdk/facebook/bin
external/facebook-android-sdk/facebook/gen
external/OpenFeintSDK.1.9.3/OpenFeintAPI/bin
external/OpenFeintSDK.1.9.3/OpenFeintAPI/gen
external/papaya-corona-sdk-global-1.7.1/Library/bin
external/papaya-corona-sdk-global-1.7.1/Library/gen
external/SuperRewards-Android-SDK/bin
external/SuperRewards-Android-SDK/gen
local.properties
platform/android/sdk/src/com/ansca/corona/SplashScreenBeacon.java
platform/android/template/template/

# iOS
*/iphone/template/*
*/iphone/template-dSYM/*
*/iphone/template-logs/*
*/platform/*.zip
*/platform/iphone/log-*.txt
platform/iphone/template*.zip
*/platform/android/project/corona/project/jni/corona-root
*/CoronaLib.jar


kernel_*.cpp
shell_default_gl.cpp
platform/test/**
platform/test/assets/*
bin/mac/LuaCocoa.framework/**
bin/mac/logs/**
bin/mac/tmp/**
sdk/Corona**
*/Debug/*
*/Release/*
*/PowerVRDebug/*
*.aps
*.o
*.o.d
*/corona-root.lnk
*.user
platform/android/resources/FastFileCreate
plugins/ads-inmobi/android/AndroidManifest\.xml
plugins/ads-inmobi/android/proguard-project\.txt
plugins/ads-inmobi/android/project\.properties

platform/mac/CoronaLiveServer/libs/bin
platform/mac/CoronaLiveServer/libs/ssl
platform/mac/CoronaLiveServer/libevent
platform/mac/CoronaLiveServer/openssl
platform/linux/lua
platform/linux/linux_rtt.txt
platform/linux/linuxtemplate.tar.gz
platform/linux/raspbiantemplate.tar.gz
platform/linux/rtt.mk
platform/linux/rtt_arm.mk
platform/linux/deb/
platform/linux/deb_arm/

tools/node-post
# ignore abandoned, prototyes and closed source
platform/bada
platform/gametree
platform/nintendo
platform/symbian
platform/webos

.hg*
_hg/
*.p12
*.cert
/platform/windows/Build.Tools/CoronaLabsInc.pfx
premake4.lua


!bin/mac/lfs.so
!platform/linux/deb/CONTENTS
!platform/test/assets/main.lua
librtt/Renderer/ios/build
librtt/Renderer/mac/build

#large file
external/vulkan/Lib32/shaderc_combinedd.lib

#legacy entries
/plugins/viewer
external/DeskMetrics
external/InMobi
external/inneractive
external/facebook-ios-sdk
external/facebook-android-sdk
plugins/ads-inmobi
plugins/ads-inneractive
commit-email.sh
platform/resources/iostemplate
platform/tvos/license.ccdata
platform/resources/nxtemplate

platform/iphone/*.tar.bz
platform/tvos/*.tar.bz
/*_output.zip
/corona.tar.gz
/CoronaNative.tar.gz
sdk/dmg/bgp.png
sdk/dmg/bgp@2x.png
sdk/dmg/processed_appdmg.json
external/JNLua/.settings/
external/JNLua/target/
external/JNLua/.classpath
external/JNLua/.project
/output/

/jre/
/jre.macos.tgz
jre.win32.7z
redist.win32.7z
