<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFile</key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string>com.coronalabs.${PRODUCT_NAME:rfc1034identifier}</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>@TEMPLATE_BUNDLE_SHORT_VERSION_STRING@</string>
	<key>CFBundleVersion</key>
	<string>@TEMPLATE_BUNDLE_VERSION@</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSMainNibFile</key>
	<string>MainWindow</string>
	<key>NSMainNibFile~ipad</key>
	<string>MainWindow-iPad</string>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>CoronaSceneDelegate</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>UIPrerenderedIcon</key>
	<true/>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleBlackTranslucent</string>
	<key>NSAppleMusicUsageDescription</key>
	<string>@APP_NAME@ does not access your Apple Music library.</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>@APP_NAME@ does not use Bluetooth.</string>
	<key>NSCalendarsUsageDescription</key>
	<string>@APP_NAME@ does not access your calendar.</string>
	<key>NSCameraUsageDescription</key>
	<string>@APP_NAME@ does not use your camera.</string>
	<key>NSContactsUsageDescription</key>
	<string>@APP_NAME@ does not access your contacts.</string>
	<key>NSHomeKitUsageDescription</key>
	<string>@APP_NAME@ does not use HomeKit.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>@APP_NAME@ does not use your location.</string>
	<key>NSLocationUsageDescription</key>
	<string>@APP_NAME@ does not use your location.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>@APP_NAME@ does not use your location.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>@APP_NAME@ does not use the microphone.</string>
	<key>NSMotionUsageDescription</key>
	<string>@APP_NAME@ does not use motion data.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>@APP_NAME@ does not read from your photo library.</string>
	<key>NSRemindersUsageDescription</key>
	<string>@APP_NAME@ does not access reminders.</string>
	<key>NSSiriUsageDescription</key>
	<string>@APP_NAME@ does not integrate with Siri.</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>@APP_NAME@ does not use speech recognition.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>@APP_NAME@ does not access your photo library.</string>
</dict>
</plist>
