<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFile</key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string>com.coronalabs.${PRODUCT_NAME:rfc1034identifier}</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>@TEMPLATE_BUNDLE_SHORT_VERSION_STRING@</string>
	<key>CFBundleVersion</key>
	<string>@TEMPLATE_BUNDLE_VERSION@</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSMainNibFile</key>
	<string>MainWindow</string>
	<key>NSMainNibFile~ipad</key>
	<string>MainWindow-iPad</string>
	<key>UIPrerenderedIcon</key>
	<true/>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleBlackTranslucent</string>
	<key>NSAppleMusicUsageDescription</key>
 	<string>Set Apple Music description in build settings</string>
     <key>NSBluetoothPeripheralUsageDescription</key>
 	<string>Set Bluetooth Peripheral description in build settings</string>
     <key>NSCalendarsUsageDescription</key>
 	<string>Set Calendars Peripheral description in build settings</string>
     <key>NSCameraUsageDescription</key>
 	<string>Set Camera Usage Description in build settings</string>
     <key>NSContactsUsageDescription</key>
 	<string>Set Contacts Usage Description in build settings</string>
     <key>NSHomeKitUsageDescription</key>
 	<string>Set Home Kit Usage Description in build settings</string>
     <key>NSLocationAlwaysUsageDescription</key>
 	<string>Set Location Always Usage Description in build settings</string>
     <key>NSLocationUsageDescription</key>
 	<string>Set Location Usage Description in build settings</string>
     <key>NSLocationWhenInUseUsageDescription</key>
 	<string>Set Location When In Use Usage description in build settings</string>
     <key>NSMicrophoneUsageDescription</key>
 	<string>Set Microphone Recognition Usage description in build settings</string>
     <key>NSMotionUsageDescription</key>
 	<string>Set Motion Usage description in build settings</string>
     <key>NSPhotoLibraryUsageDescription</key>
 	<string>Set Photo Usage description in build settings</string>
     <key>NSRemindersUsageDescription</key>
 	<string>Set Reminders Usage description in build settings</string>
     <key>NSSiriUsageDescription</key>
 	<string>Set Siri Usage description in build settings</string>
     <key>NSSpeechRecognitionUsageDescription</key>
 	<string>Set Speech Recognition Usage description in build settings</string>
 	<key>NSPhotoLibraryAddUsageDescription</key>
 	<string>Set Photo Library Add Usage description in build settings</string>
</dict>
</plist>
