<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFile</key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string>com.coronalabs.${PRODUCT_NAME:rfc1034identifier}</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>@TEMPLATE_BUNDLE_SHORT_VERSION_STRING@</string>
	<key>CFBundleVersion</key>
	<string>@TEMPLATE_BUNDLE_VERSION@</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSMainNibFile</key>
	<string>MainWindow</string>
	<key>NSMainNibFile~ipad</key>
	<string>MainWindow-iPad</string>
	<key>UIPrerenderedIcon</key>
	<true/>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleBlackTranslucent</string>
    <key>NSAppleMusicUsageDescription</key>
	<string>NSAppleMusicUsageDescription should be set to a valid usage description</string>
    <key>NSBluetoothPeripheralUsageDescription</key>
	<string>NSBluetoothPeripheralUsageDescription should be set to a valid usage description</string>
    <key>NSCalendarsUsageDescription</key>
	<string>NSCalendarsUsageDescription should be set to a valid usage description</string>
    <key>NSCameraUsageDescription</key>
	<string>NSCameraUsageDescription should be set to a valid usage description</string>
    <key>NSContactsUsageDescription</key>
	<string>NSContactsUsageDescription should be set to a valid usage description</string>
    <key>NSHomeKitUsageDescription</key>
	<string>NSHomeKitUsageDescription should be set to a valid usage description</string>
    <key>NSLocationAlwaysUsageDescription</key>
	<string>NSLocationAlwaysUsageDescription should be set to a valid usage description</string>
    <key>NSLocationUsageDescription</key>
	<string>NSLocationUsageDescription should be set to a valid usage description</string>
    <key>NSLocationWhenInUseUsageDescription</key>
	<string>NSLocationWhenInUseUsageDescription should be set to a valid usage description</string>
    <key>NSMicrophoneUsageDescription</key>
	<string>NSMicrophoneUsageDescription should be set to a valid usage description</string>
    <key>NSMotionUsageDescription</key>
	<string>NSMotionUsageDescription should be set to a valid usage description</string>
    <key>NSPhotoLibraryUsageDescription</key>
	<string>NSPhotoLibraryUsageDescription should be set to a valid usage description</string>
    <key>NSRemindersUsageDescription</key>
	<string>NSRemindersUsageDescription should be set to a valid usage description</string>
    <key>NSSiriUsageDescription</key>
	<string>NSSiriUsageDescription should be set to a valid usage description</string>
    <key>NSSpeechRecognitionUsageDescription</key>
	<string>NSSpeechRecognitionUsageDescription should be set to a valid usage description</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>NSPhotoLibraryAddUsageDescription should be set to a valid usage descripiton</string>
</dict>
</plist>
