<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Ancestors</key>
	<array>
		<string>com.apple.dt.unit.storyboardApplication</string>
	</array>
	<key>Concrete</key>
	<true/>
	<key>Definitions</key>
	<dict>
		<key>___VARIABLE_classPrefix:identifier___ViewController.h</key>
		<dict>
			<key>Path</key>
			<string>ViewController.h</string>
		</dict>
		<key>___VARIABLE_classPrefix:identifier___ViewController.mm</key>
		<dict>
			<key>Path</key>
			<string>ViewController.mm</string>
		</dict>
		<key>Corona/crate.png</key>
		<dict>
			<key>Group</key>
			<string>Corona</string>
			<key>Path</key>
			<string>Corona/crate.png</string>
		</dict>
		<key>Corona/ground.png</key>
		<dict>
			<key>Group</key>
			<string>Corona</string>
			<key>Path</key>
			<string>Corona/ground.png</string>
		</dict>
		<key>Corona/sky.png</key>
		<dict>
			<key>Group</key>
			<string>Corona</string>
			<key>Path</key>
			<string>Corona/sky.png</string>
		</dict>
		<key>Corona/config.lua</key>
		<dict>
			<key>Group</key>
			<string>Corona</string>
			<key>Path</key>
			<string>Corona/config.lua</string>
		</dict>
		<key>Corona/main.lua</key>
		<dict>
			<key>Group</key>
			<string>Corona</string>
			<key>Path</key>
			<string>Corona/main.lua</string>
		</dict>
		<key>___PACKAGENAME___-Info.plist:UIStatusBarHidden</key>
		<string>&lt;key&gt;UIStatusBarHidden&lt;/key&gt;
&lt;true/&gt;
</string>
	</dict>
	<key>Description</key>
	<string>This template provides a starting point for an application that uses a single fullscreen CoronaView. It uses an instance of CoronaViewController as the root controller to manage the view, and a storyboard or nib file that contains the view.</string>
	<key>Identifier</key>
	<string>com.coronalabs.coronakit.singleViewApplication</string>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Nodes</key>
	<array>
		<string>___PACKAGENAME___-Prefix.pch:Availability:iPhoneAvailability:5</string>
		<string>___PACKAGENAME___-Info.plist:UIStatusBarHidden</string>
		<string>___VARIABLE_classPrefix:identifier___ViewController.h</string>
		<string>___VARIABLE_classPrefix:identifier___ViewController.mm</string>
		<string>Corona/crate.png</string>
		<string>Corona/ground.png</string>
		<string>Corona/sky.png</string>
		<string>Corona/config.lua</string>
		<string>Corona/main.lua</string>
	</array>
	<key>Options</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>universalDeviceFamily</string>
			<key>Units</key>
			<dict>
				<key>Universal</key>
				<dict>
					<key>Definitions</key>
					<dict>
						<key>Base.lproj/Main_iPad.storyboard</key>
						<dict>
							<key>Path</key>
							<string>Main_iPad.storyboard</string>
						</dict>
						<key>Base.lproj/Main_iPhone.storyboard</key>
						<dict>
							<key>Path</key>
							<string>Main_iPhone.storyboard</string>
						</dict>
					</dict>
				</dict>
				<key>iPad</key>
				<dict>
					<key>Definitions</key>
					<dict>
						<key>Base.lproj/Main.storyboard</key>
						<dict>
							<key>Path</key>
							<string>Main_iPad.storyboard</string>
						</dict>
					</dict>
				</dict>
				<key>iPhone</key>
				<dict>
					<key>Definitions</key>
					<dict>
						<key>Base.lproj/Main.storyboard</key>
						<dict>
							<key>Path</key>
							<string>Main_iPhone.storyboard</string>
						</dict>
					</dict>
				</dict>
			</dict>
		</dict>
	</array>
	<key>SortOrder</key>
	<integer>1</integer>
	<key>Targets</key>
	<array>
		<dict>
			<key>SharedSettings</key>
			<dict>
				<key>ALWAYS_SEARCH_USER_PATHS</key>
				<string>YES</string>
				<key>FRAMEWORK_SEARCH_PATHS</key>
				<string>/Users/Shared/CoronaLabs/Frameworks</string>
				<key>OTHER_LDFLAGS</key>
				<string>-ObjC -all_load -lobjc -lsqlite3</string>
				<key>ARCHS</key>
				<string>$(ARCHS_STANDARD)</string>
				<key>CLANG_CXX_LIBRARY</key>
				<string>libstdc++</string>
				<key>STRIP_STYLE</key>
				<string>non-global</string>
				<key>DEAD_CODE_STRIPPING</key>
				<string>NO</string>
				<key>CLANG_ENABLE_OBJC_ARC</key>
				<string>NO</string>
			</dict>
			<key>Frameworks</key>
			<array>
				<string>CoronaKit</string>
				<string>AdSupport</string>
				<string>AudioToolbox</string>
				<string>AVFoundation</string>
				<string>CFNetwork</string>
				<string>CoreGraphics</string>
				<string>CoreLocation</string>
				<string>CoreMedia</string>
				<string>CoreMotion</string>
				<string>CoreVideo</string>
				<string>Foundation</string>
				<string>GLKit</string>
				<string>ImageIO</string>
				<string>MediaPlayer</string>
				<string>MobileCoreServices</string>
				<string>OpenAL</string>
				<string>OpenGLES</string>
				<string>QuartzCore</string>
				<string>Security</string>
				<string>SystemConfiguration</string>
				<string>UIKit</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
